<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <title>학생성적수정</title>
  <style>
    * {margin:0; padding:0;}
    #main{text-align: center; margin-top: 50px}
    label{width:150px; display:inline-block;}
    #main h2{margin-bottom:20px;}
    .r{width:68px;}
    input[type='button'],button{margin-top:20px;}
    input[type='button'],button{width:150px; height:40px; text-align:center;}
</style>
</head>
<body>
  <div id='main'>
    <h2><a href='/'>학생성적수정</a></h2>
    <form action="{% url 'students:modify' stu.name %}" method='post' name='sfrm'> 
    {% comment %} <form action="/students/write/" method='post' name='sfrm'> {% endcomment %}
      {% csrf_token %}
      <label>이름</label>
      {{stu.name}}<br>                                                             
      <input type='hidden' name='name' class='name' value='{{student.name}}'><br>
      <label>학과</label>
      <input type='text' name='major' value='{{student.major}}'><br>
      <label>학년</label>
      <input type='text' name='grade' value='{{student.grade}}'><br>
      <label>나이</label>
      <input type='text' name='age' value='{{student.age}}'><br>
      <label>성별</label>
      <input type='radio' name='gender' id='M' value='M' {% if student.gender == 'M' %}checked{% endif %}>
      <label class='r' for='M'>남자</label>
      <input type='radio' name='gender' id='F' value='F' {% if student.gender == 'F' %}checked{% endif %}>
      <label class='r' for='F'>여자</label>
      <br>
      <input type='button' value='저장' onclick='saveChk()'>
      <button type='button' onclick='cancel()'>취소</button>
    </form>
    <script>
      function cancel(){
        location.href='/students/list/';
      }
      function saveChk(){
          alert("데이터를 전송합니다");
          document.sfrm.submit();
      }
    </script>
  </div>
</body>
</html>